<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}MilesLoveday.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link rel="icon" href="{{ asset('/assets/favicon.ico') }}">
        {{ encore_entry_script_tags('turbolinks') }}
    </head>
    <body>
    <div id="app">
        <div class="header">
            <button type="button" class="no-print nav-show-hide" v-on:click="toggleNav"><i class="fas fa-bars"></i></button>
            <h1>Miles Loveday</h1>
        </div>
        <div :class="showingNav ? 'site-wrapper show-nav' : 'site-wrapper show-content'" class="site-wrapper show-content">
            <ul class="nav no-print">
                <li class="nav-item"><a class="nav-anchor" href="{{ path("index") }}">Home</a></li>
                <li class="nav-item"><a class="nav-anchor" href="{{ path("cv") }}">CV</a></li>
            </ul>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </body>
</html>
