{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/cv.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="section details">
            <a href="mailto:{{ cv.email }}" class="email">{{ cv.email }}</a>
        </div>
        <div class="section personal-statement">
            <h2>Personal Statement</h2>
            <p>{{ cv.personalStatement }}</p>
        </div>
        <div class="section work-history">
            <h2>Employment History</h2>
            {% for employer in cv.employers %}
            <div class="section-group employer-group">
                <div class="employer-date">{{ employer.date }}</div>
                <div class="employer-name">{{ employer.name }}</div>
                <div class="employer-title">{{ employer.title }}</div>
                <div class="employer-description">{{ employer.description }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="section skills">
            <h2>Skills learned</h2>
            {% for skill in cv.skills %}
            <div class="section-group skill-group">
                <h3 class="skill-title">{{ skill.title }}</h3>
                <div class="skill-description">{{ skill.description }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="section education">
            <h2>Education</h2>
            {% for educator in cv.educators %}
            <div class="section-group education-group">
                <div class="education-date">{{ educator.date }}</div>
                <div class="education-name">{{ educator.name }}</div>
                <div class="education-title">{{ educator.title }}</div>
                <div class="education-description"><p>{% for description in educator.description %}{{ description }}</p>{% endfor %}</div>
            </div>
            {% endfor %}
        </div>
        <div class="section interests">
            <h2>Interests</h2>
            {% for interest in cv.interests %}
            <div class="section-group interest-group">
                <h3 class="interest-headline">{{ interest.title }}</h3>
                <div class="interest-description">{{ interest.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}